In [369]:
from flask import Flask, request, jsonify, render_template
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [370]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [371]:
from Income import *
from app import *

In [317]:
checker = ['Item',
 'Item',
 '30-Sep-2022',
 '31-Dec-2022',
 '31-Mar-2023',
 '30-Jun-2023',
 '30-Sep-2023',
 'Sales/Revenue']

checker[2:7]

['30-Sep-2022', '31-Dec-2022', '31-Mar-2023', '30-Jun-2023', '30-Sep-2023']

In [374]:
quarter_df = financial('nke')
quarter_df

,Period Ending,Sales/Revenue,Sales Growth,Cost of Goods Sold (COGS) incl. D&A,COGS Growth,COGS excluding D&A,Depreciation & Amortization Expense,Depreciation,Amortization of Intangibles,Gross Income,...,Net Income Available to Common,EPS (Basic),EPS (Basic) Growth,Basic Shares Outstanding,EPS (Diluted),EPS (Diluted) Growth,Diluted Shares Outstanding,EBITDA,EBITDA Growth,EBITDA Margin
0,30-Nov-2022,13.31,NaN,7.78,NaN,7.60,0.173,0.173,NaN,5.53,...,1.33,0.85,NaN,1.56,0.85,NaN,1.57,1.58,NaN,NaN
1,28-Feb-2023,12.38,-0.0702,7.20,-0.0741,7.03,0.174,0.174,NaN,5.18,...,1.24,0.80,-0.0593,1.54,0.79,-0.0639,1.56,1.39,-0.1214,NaN
2,31-May-2023,12.81,0.0349,7.35,0.0203,7.16,0.187,0.187,NaN,5.46,...,1.03,0.67,-0.1646,1.54,0.66,-0.1639,1.56,1.28,-0.0763,NaN
3,31-Aug-2023,12.94,0.0101,7.31,-0.0057,7.11,0.191,0.191,NaN,5.63,...,1.45,0.95,0.4139,1.53,0.94,0.4183,1.54,1.71,0.3313,NaN
4,30-Nov-2023,13.39,0.0346,7.48,0.0242,7.29,0.191,0.191,NaN,5.90,...,1.58,1.04,0.0937,1.52,1.03,0.0962,1.53,1.95,0.1411,0.1456

In [319]:
quarter_df['Sales/Revenue'] / quarter_df["Depreciation"]

0          NaN
1    36.298507
2    32.313019
3    30.551471
4    26.031215
dtype: float64

In [320]:
for col in quarter_df.columns:
    print(col)

Period Ending
Sales/Revenue
Sales Growth
Cost of Goods Sold (COGS) incl. D&A
COGS Growth
COGS excluding D&A
Depreciation & Amortization Expense
Depreciation
Amortization of Intangibles
Gross Income
Gross Income Growth
Gross Profit Margin
SG&A Expense
SGA Growth
Research & Development
Other SG&A
Other Operating Expense
Unusual Expense
EBIT after Unusual Expense
Non Operating Income/Expense
Non-Operating Interest Income
Equity in Affiliates (Pretax)
Interest Expense
Interest Expense Growth
Gross Interest Expense
Interest Capitalized
Pretax Income
Pretax Income Growth
Pretax Margin
Income Tax
Income Tax - Current Domestic
Income Tax - Current Foreign
Income Tax - Deferred Domestic
Income Tax - Deferred Foreign
Income Tax Credits
Equity in Affiliates
Other After Tax Income (Expense)
Consolidated Net Income
Minority Interest Expense
Net Income
Net Income Growth
Net Margin Growth
Extraordinaries & Discontinued Operations
Extra Items & Gain/Loss Sale Of Assets
Cumulative Effect - Accounting Chg
Discontinued Operations
Net Income After Extraordinaries
Preferred Dividends
Net Income Available to Common
EPS (Basic)
EPS (Basic) Growth
Basic Shares Outstanding
EPS (Diluted)
EPS (Diluted) Growth
Diluted Shares Outstanding
EBITDA
EBITDA Growth
EBITDA Margin