In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [175]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [176]:
from main import *

In [177]:
financial()

,Period Ending:,Total Revenue,Revenue,"Other Revenue, Total","Cost of Revenue, Total",Gross Profit,Total Operating Expenses,"Selling/General/Admin. Expenses, Total",Research & Development,Depreciation / Amortization,...,Total Extraordinary Items,Net Income,Total Adjustments to Net Income,Income Available to Common Excluding Extraordinary Items,Dilution Adjustment,Diluted Net Income,Diluted Weighted Average Shares,Diluted EPS Excluding Extraordinary Items,DPS - Common Stock Primary Issue,Diluted Normalized EPS
0,2023-31/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-30/09,14158,14158,NaN,8140,6018,13350,1340,3870,2020,...,NaN,297,NaN,297,0.97,296.03,4229,0.07,0.125,0.138
2,2023-01/07,12949,12949,NaN,8311,4638,13765,1374,4080,1832,...,NaN,1481,NaN,1481,12.4,1468.6,4196,0.35,0.125,-0.086
3,2023-01/04,11715,11715,NaN,7707,4008,13119,1303,4109,1901,...,NaN,-2758,NaN,-2758,-16.36,-2741.64,4154,-0.664,0.365,-0.188

In [178]:
test()

Hello World!!