In [165]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

ticker = 'TSLA'
url = "https://finance.yahoo.com/quote/TSLA?p=TSLA"
html = requests.get(url)

In [166]:
s = BeautifulSoup(html.content, "html.parser")

In [167]:
results_info = s.find(id = 'Lead-5-QuoteHeader-Proxy')
company_title = results_info.find_all('h1', class_= 'D(ib) Fz(18px)')[0].text
current_price = results_info.find_all('fin-streamer', class_='Fw(b) Fz(36px) Mb(-4px) D(ib)')[0].text

print(company_title)

Tesla, Inc. (TSLA)

In [168]:
financials = s.find(id = 'Main')
current_financials = financials.find_all('td', class_='Ta(end) Fw(600) Lh(14px)')

In [169]:
market_cap = current_financials[8].text
pe_ratio = current_financials[10].text
eps = current_financials[11].text

print(market_cap, pe_ratio, eps)

582.537B 59.11 3.10

In [ ]:
similar =

In [163]:
ticker = 'INTC'
url = "https://www.investing.com/equities/intel-corp-income-statement"
html = requests.get(url)
data = html.content
soup = BeautifulSoup(data, 'html')

table = soup.find('table', class_ = "genTbl reportTbl").text.split('\n')
table = [element for element in table if element != '' and element != ' ']
quarter = table[1:5]
quarter = [element[:4] + '-' + element[4:] for element in quarter]
print(quarter)
table_dict = {}
for i in range(0, len(table), 5):
    table_dict[table[i]] = table[i+1: i+5]

table_dict['Period Ending:'] = quarter

data_frame = pd.DataFrame(table_dict).replace('-', np.NaN)
data_frame

['2023-31/12', '2023-30/09', '2023-01/07', '2023-01/04']

/var/folders/gq/kpjsyrz11tb3tktf07l86tqr0000gn/T/ipykernel_54515/2913855484.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_frame = pd.DataFrame(table_dict).replace('-', np.NaN)

,Period Ending:,Total Revenue,Revenue,"Other Revenue, Total","Cost of Revenue, Total",Gross Profit,Total Operating Expenses,"Selling/General/Admin. Expenses, Total",Research & Development,Depreciation / Amortization,...,Total Extraordinary Items,Net Income,Total Adjustments to Net Income,Income Available to Common Excluding Extraordinary Items,Dilution Adjustment,Diluted Net Income,Diluted Weighted Average Shares,Diluted EPS Excluding Extraordinary Items,DPS - Common Stock Primary Issue,Diluted Normalized EPS
0,2023-31/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-30/09,14158,14158,NaN,8140,6018,13350,1340,3870,2020,...,NaN,297,NaN,297,0.97,296.03,4229,0.07,0.125,0.138
2,2023-01/07,12949,12949,NaN,8311,4638,13765,1374,4080,1832,...,NaN,1481,NaN,1481,12.4,1468.6,4196,0.35,0.125,-0.086
3,2023-01/04,11715,11715,NaN,7707,4008,13119,1303,4109,1901,...,NaN,-2758,NaN,-2758,-16.36,-2741.64,4154,-0.664,0.365,-0.188