In [3]:
import pandas as pd
import numpy as np
from main import *
import requests
from bs4 import BeautifulSoup

ticker = 'TSLA'
url = "https://www.investing.com/equities/intel-corp-income-statement"
html = requests.get(url)
data = html.content
soup = BeautifulSoup(data, 'html')

table = soup.find('table', class_ = "genTbl reportTbl").text.split('\n')
table = [element for element in table if element != '' and element != ' ']
quarter = table[1:5]
quarter = [element[:4] + '-' + element[4:] for element in quarter]
print(quarter)
table_dict = {}
for i in range(0, len(table), 5):
    table_dict[table[i]] = table[i+1: i+5]

table_dict['Period Ending:'] = quarter

data_frame = pd.DataFrame(table_dict).replace('-', np.NaN)
data_frame

['2023-31/12', '2023-30/09', '2023-01/07', '2023-01/04']

/var/folders/y8/mzq28ygd333_s7ffnk8_84cc0000gn/T/ipykernel_28737/679499964.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_frame = pd.DataFrame(table_dict).replace('-', np.NaN)

,Period Ending:,Total Revenue,Revenue,"Other Revenue, Total","Cost of Revenue, Total",Gross Profit,Total Operating Expenses,"Selling/General/Admin. Expenses, Total",Research & Development,Depreciation / Amortization,...,Total Extraordinary Items,Net Income,Total Adjustments to Net Income,Income Available to Common Excluding Extraordinary Items,Dilution Adjustment,Diluted Net Income,Diluted Weighted Average Shares,Diluted EPS Excluding Extraordinary Items,DPS - Common Stock Primary Issue,Diluted Normalized EPS
0,2023-31/12,15406,15406,NaN,8359,7047,13963,1617,3987,2094,...,NaN,2669,NaN,2669,22.8,2646.2,4308,0.614,NaN,0.228
1,2023-30/09,14158,14158,NaN,8140,6018,13350,1340,3870,2020,...,NaN,297,NaN,297,0.97,296.03,4229,0.07,0.125,0.138
2,2023-01/07,12949,12949,NaN,8311,4638,13765,1374,4080,1832,...,NaN,1481,NaN,1481,12.4,1468.6,4196,0.35,0.125,-0.086
3,2023-01/04,11715,11715,NaN,7707,4008,13119,1303,4109,1901,...,NaN,-2758,NaN,-2758,-16.36,-2741.64,4154,-0.664,0.365,-0.188

In [53]:
urlHome = "https://www.investing.com/equities/united-states"
htmlHome = requests.get(urlHome)
dataHome = htmlHome.content
soupHome = BeautifulSoup(dataHome, 'html')